[Unit]
Description=Tiny http server with file management via web
Requires=network.target
After=network.target

[Service]
EnvironmentFile=-/etc/default/filemanager-httpd
ExecStart=/usr/sbin/filemanager-httpd $DAEMON_OPTS
KillMode=process

[Install]
WantedBy=multi-user.target
